# Python
__pycache__/
*.pyc
backend/.venv/
.coverage

# Logs
logs/
*.log

# Node
node_modules/
dist/

# IDEs y editores
.vscode/

# Asistentes de IA
.openai/
.github/

# Entornos
.env
.env.*
!.env*.example
