BEGIN;

SET search_path TO studyforge, public;

CREATE TABLE studyforge.alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> 37f7c983b414

CREATE TABLE studyforge.users (
    id SERIAL NOT NULL, 
    name VARCHAR(100), 
    email VARCHAR(150), 
    password_hash VARCHAR(200), 
    created_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id)
);

CREATE UNIQUE INDEX ix_studyforge_users_email ON studyforge.users (email);

CREATE INDEX ix_studyforge_users_id ON studyforge.users (id);

CREATE TABLE studyforge.quizzes (
    id SERIAL NOT NULL, 
    document_id INTEGER NOT NULL, 
    question TEXT NOT NULL, 
    answer TEXT NOT NULL, 
    options JSON, 
    difficulty VARCHAR(20), 
    created_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(document_id) REFERENCES studyforge.documents (id)
);

CREATE TABLE studyforge.summaries (
    id SERIAL NOT NULL, 
    document_id INTEGER NOT NULL, 
    content TEXT NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(document_id) REFERENCES studyforge.documents (id)
);

DROP TABLE alembic_version;

ALTER TABLE documents ADD COLUMN user_id INTEGER;

ALTER TABLE documents ADD COLUMN updated_at TIMESTAMP WITH TIME ZONE;

ALTER TABLE documents ALTER COLUMN title TYPE VARCHAR(200);

ALTER TABLE documents ALTER COLUMN description TYPE VARCHAR(300);

ALTER TABLE documents ALTER COLUMN created_at DROP NOT NULL;

ALTER TABLE documents ALTER COLUMN created_at DROP DEFAULT;

CREATE INDEX ix_studyforge_documents_id ON studyforge.documents (id);

ALTER TABLE studyforge.documents ADD FOREIGN KEY(user_id) REFERENCES studyforge.users (id);

INSERT INTO studyforge.alembic_version (version_num) VALUES ('37f7c983b414') RETURNING studyforge.alembic_version.version_num;

-- Running upgrade 37f7c983b414 -> 458a31d5300e

CREATE TABLE studyforge.users (
    id SERIAL NOT NULL, 
    name VARCHAR(100), 
    email VARCHAR(150), 
    password_hash VARCHAR(200), 
    created_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id)
);

CREATE UNIQUE INDEX ix_studyforge_users_email ON studyforge.users (email);

CREATE INDEX ix_studyforge_users_id ON studyforge.users (id);

CREATE TABLE studyforge.quizzes (
    id SERIAL NOT NULL, 
    document_id INTEGER NOT NULL, 
    question TEXT NOT NULL, 
    answer TEXT NOT NULL, 
    options JSON, 
    difficulty VARCHAR(20), 
    created_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(document_id) REFERENCES studyforge.documents (id)
);

CREATE TABLE studyforge.summaries (
    id SERIAL NOT NULL, 
    document_id INTEGER NOT NULL, 
    content TEXT NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(document_id) REFERENCES studyforge.documents (id)
);

ALTER TABLE studyforge.documents ADD COLUMN user_id INTEGER;

ALTER TABLE studyforge.documents ADD COLUMN updated_at TIMESTAMP WITH TIME ZONE;

ALTER TABLE studyforge.documents ALTER COLUMN title TYPE VARCHAR(200);

ALTER TABLE studyforge.documents ALTER COLUMN description TYPE VARCHAR(300);

ALTER TABLE studyforge.documents ALTER COLUMN created_at DROP NOT NULL;

ALTER TABLE studyforge.documents ALTER COLUMN created_at DROP DEFAULT;

CREATE INDEX ix_studyforge_documents_id ON studyforge.documents (id);

ALTER TABLE studyforge.documents ADD FOREIGN KEY(user_id) REFERENCES studyforge.users (id);

UPDATE studyforge.alembic_version SET version_num='458a31d5300e' WHERE studyforge.alembic_version.version_num = '37f7c983b414';

COMMIT;

